@import "tailwindcss";

:root {
  --color-primary: #000100;
  --color-secondary: #A1A6B4;
  --color-accent-light: #94C5CC;
  --color-accent: #B4D2E7;
  --color-background: #F8F8F8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
}